nav h1{
    font-size: 300%;
    transform: translateY(-40%);
    margin-left: 2%;
    color: #00bfff;
}

.links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    float: right;
    transform: translateY(-440%);
    font-weight: bold;
    font-size: 110%;
}

.links a{
    text-decoration: none;
    padding: 1%;
    font-size: 110%;  
    color: #000;
}

.links a:hover{
    color: #fff;
    background-color: #00bfff;
    background-size: 100%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.courses_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 0px;  
}

.courses_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.course_item{
    flex: 1;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    cursor: default;
    text-align: start;   
}

.apply_btn_container{
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -20px;
    margin-bottom: -5px;
}

.apply_btn {
    background-color: #1a75ff;
    align-self: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-align: end;
    justify-self: end;
    justify-content: end;
}

.apply_btn:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#intro_course_3{
    visibility: hidden;
}

/* For the arrow up/dowm iv */
.show_more_less_img{
    cursor: pointer;
    padding: 5px;
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 880px){
    .courses_list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .course_item{
        flex: 1;
        background-color: #fff;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        cursor: default;
        text-align: start;   
    }
}