body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: white;
  }
  h1 {
    color: whitesmoke;
    text-align: center;
  }
  .container1 {
    display: flex;
  }
  .container2 {
    display: flex;
    text-emphasis-color: white;
  }
  .home-text {
    float: left;
  }
  
  .our-software {
    position: relative;
    float: right;
  }
  .col-md-6 {
    background-color: #00bfff;
    text-emphasis-color: white;
    color: white;
  }
  h4 {
    color: #00bfff;
  }
  .home-text {
    color: black;
  }
  hr {
    color: rgb(42, 165, 89);
  }
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  